<h1>Items in Your Cart</h1>  

<% if @cart.empty? %>
  <p> Your Cart is Currently Empty </p>
  <p><b><%= link_to "Shop for Items", products_path %> <b> </p>
<%  else %>
  <%= link_to 'Clear Cart', cart_clear_path %> &nbsp;&nbsp;
  <%= link_to 'ADD More Products', products_path %><br><br> 
<% end %>

<% total = 0 %>
 
<ul>
<% @cart.each do | id, qty | %>
  <% product = Product.find_by_id(id) %>

  <li>
  <p><%= link_to product.name, product %>
  Quantity: <%= qty%> </p>
  <p> <%= product.description %> </p>
  <p> <%= number_to_currency(product.price ) %></p>

  </li>
  <% total += qty * product.price %>



<% end %>
 
 </ul>
 <p><b> TOTAL: <%= number_to_currency(total)%> <b></p>
  <% if @cart.empty? %> 
<%  else %> 

<!-- This is teporarly to clear the cart, but it will be to
process and place a new order by customer -->
  <p><b> <%= link_to 'Check Out',cart_clear_path  %><b></p>
<% end %>

 