<p id="notice"><%= notice %></p>
<%if current_user%>
      <%if current_user.id == @order.user_id%> 
        <p>
          <strong>Orderdate:</strong>
          <%= @order.orderdate %>
        </p>
        <p>
          <strong>User:</strong>
          <%= @order.user_id %>
        </p>
        <p>
          <strong>Item:</strong>
          <%= @order.item_ordered %>
        </p>
        <%= link_to 'Edit', edit_order_path(@order) %> |
        <%= link_to 'Back', orders_path %>
      <%elsif current_user.email == "admin@admin.com"%> 
        <p>
          <strong>Orderdate:</strong>
          <%= @order.orderdate %>
        </p>
        <p>
          <strong>User:</strong>
          <%= @order.user_id %>
        </p>
        <p>
          <strong>Item:</strong>
          <%= @order.item_ordered %>
        </p>
        <%end%>
      <%else%>
       <%redirect_to orders_path%>
<%end%>
