<h1>Items in Your Cart</h1>  

<%if @cart.empty? %>
  <p> Your Cart is Currently Empty </p>
  <p><b><%= link_to "Shop for Items", items_path %> <b> </p>
<% else %>
  <%= link_to 'Clear Cart', cart_clear_path %> &nbsp;&nbsp;
  <%= link_to 'ADD More Products', items_path %><br><br> 
<% end %>

<% total = 0 %>
 
<table> 
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th> 
    </tr>
  </thead>
  <tbody>
    <% @cart.each do | id | %>
    <% item = Item.find_by_id(id) %>
    <tr>
      <td><%= link_to item.name, item %></td>
      <td><%= number_to_currency(item.price ) %></td> 
        
    </tr>
      <% total = item.price %>

    <% end %>
  </tbody>   
 </table>
 <p><b> TOTAL: <%= number_to_currency(total)%> <b></p>

 <!-- This is teporarly to clear the cart, but it will be to
 process and place a new order by customer -->
<% if @cart.empty? %> 
  <%  else %>  
  <% @cart.each do | id | %>
    <% item = Item.find_by_id(id) %>  
      <%= link_to "Check Out", order_new_path(itemid: item.id, user_id: current_user.id)%>      
    <% end %>    
<% end %>

 