<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>
<%if current_user %>
  <%if current_user.email == "admin@admin.com"%> 
	<%= link_to 'Edit', edit_item_path(@item) %> |
	<%= link_to 'Back', items_path %>
	<%else%>
		<%= link_to 'Back', items_path %>
  <%end%>
<%end%>