<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shopkeeper.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @shopkeeper.email %>
</p>

<%= link_to 'Edit', edit_shopkeeper_path(@shopkeeper) %> |
<%= link_to 'Back', shopkeepers_path %>
